*{              
    margin: 0;        /*Set Overall margin and padding for all element initiallly*/  
    padding: 0;

}

html{
    font-size: 62.5%;     /*Using to express pixels in rems. */
}

.code-editor-container{
    border: 0.5rem solid white;
    border-radius: 2rem;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 71rem;
    width:150.8rem;
    background-color:rgb(116, 119, 122);
    justify-content: center;
}

.code-container{
    display: flex;
    font-size: large;
    margin: 1rem;
    color: wheat;
    resize: none;
    width: 148.5rem;
    height: 57rem;
    border: solid black 0.2rem;
    border-radius: 1rem;
    background-color:rgb(49, 47, 47);
}

.code-btns{
    position: relative;
    display: flex;
    justify-content: center;
    width: 40rem;
    margin: 1rem;
    padding-left: 0.5rem;
    z-index: 1;
}

.save-btn,.copy-btn,.lock-unlock-btn{
    size: 2rem;
    margin: 1rem;
    cursor: pointer;
}

.heading{
    position: relative;
    top: 1rem;
    margin: 1rem;
    background-color: rgb(116, 119, 122);
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color: rgba(32, 41, 163, 0.537);
}

.save-tooltip,.copy-tooltip,.lock-unlock-tooltip{
    position:relative;
    visibility: hidden;
    font-size: 1.2rem;
    margin: 0.5rem;
    z-index: 20;
}
.tooltip:hover .save-tooltip{
    background-color: black;
    border-radius:0.4rem ;
    color: white;
    visibility: visible;
}

.tooltip:hover .copy-tooltip{
    background-color: black;
    border-radius:0.4rem ;
    color: white;
    visibility: visible;
}

.tooltip:hover .lock-unlock-tooltip{
    background-color: black;
    border-radius:0.4rem ;
    color: white;
    visibility: visible;
}
